<div class="row">
	<div class="col-6">
<button type="button" class="btn btn-secondary" (click)="nuevoRegistro()" [routerLink]="['/listadoUsuario','nuevoUsuario',1]">Nuevo</button>

<table class="table table-hover table-bordered">
<thead class="thead-dark">
<th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th>Editar</th>
</thead>
<tbody>
<tr *ngFor="let usuario of listadoUsuario">
<td>{{usuario.nombreUsuario}}</td>
<td>{{usuario.apellidoUsuario}}</td>
<td><button type="button" class="btn btn-primary" (click)="editarRegistro(usuario.id)">Edicion</button></td>
</tr>
</tbody>
</table>
	</div>
<div class="col-6">
		<router-outlet></router-outlet>
	</div>
  </div>
