<!-- <div>{{fecha | uppercase | date:"MMMM, dd, yyyy"}}</div> -->
<div>{{curso | uppercase}}</div>
<div>{{usuario | json}}</div>
<div>{{precio | currency:"PEN":"symbol":"3.2-2"}}</div>
<input type="text" [(ngModel)]="textoABuscar">
<table>
	<tr>
		<th>Título</th>
		<th>Autor</th>
		<th>Sinópsis</th>
		<th>Año</th>
	</tr>
	<tr *ngFor="let libro of libros | busqueda:textoABuscar:'autor'">
		<td>{{libro.titulo | capital}}</td>
		<td>{{libro.autor}}</td>
		<td>{{libro.sinopsis | reducidorPalabras:8}}</td>
		<td>{{libro.anno}}</td>
	</tr>
</table>

<p hover [colorNuevo]="'blue'" fondoNuevo="pink">Texto de color rojo</p>
<article appSubirImagen (onHover)="sobre($event)" [ngClass]="{over: seleccion}" (onSalida)="mostrarImagen($event)">
</article>