<nav class="navbar navbar-dark bg-dark">
<ul *ngIf="!userLogged"><a routerLink="login">Login</a></ul>
<ul *ngIf="userLogged"><a routerLink="home">Home</a></ul>
<ul *ngIf="userLogged"><a routerLink="productos">Productos</a></ul>
<ul *ngIf="userLogged"><a routerLink="productos/edicion">Edicion</a></ul>
<ul *ngIf="userLogged"><a [routerLink]="['productos','nuevo']">Nuevo</a></ul>
<button class="btn btn-primary" *ngIf="userLogged" (click)="logout()">Logout</button>
</nav>
<table>
<tr *ngFor= "let item of datosRecibidos">
<td>{{item.id}}</td>
<td>{{item.title}}</td>
</tr>
</table>

<router-outlet><router-outlet>
