<mat-sidenav-container>
	<!--Referencia local para identificar al elemento #-->
	<mat-sidenav #menu_movil>
		<!-- Pata trabajar con listas -->
		<mat-nav-list>
			<mat-icon>lock</mat-icon>
			<a mat-list-item routerLink="">
				Menu 1</a>
			<mat-icon>face</mat-icon>
			<a mat-list-item routerLink="">Menu 2</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<!-- El primer valor de fxLayoutAlign es de justify-content y el segundo es de align-items -->
		<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
			<div fxLayout="row" fxLayoutAlign="start center">
				<!--Hacer referencia al identificador local-->
				<button mat-icon-button (click)="menu_movil.toggle()" fxHide.gt-xs>
					<mat-icon>menu</mat-icon>
				</button>
				<h2>Sistema</h2>
			</div>
			<!-- fxHide.xs >> Cuando queremos ocultar un item dependiendo de si es laptop/tables/celular. Por defecto pone display="none" -->
			<ul fxHide.xs fxLayout="row" fxLayoutAlign="start center">
				<li>
					<a routerLink="/">Menu 01</a>
				</li>
				<li>
					<a routerLink="/">Menu 02</a>
				</li>
			</ul>
		</mat-toolbar>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>